body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home {
  background-image: url(./assets/images/cat-white-bg.webp);
}
:root {
  --bs-dark: red;
}

.home {
  height: calc(100vh - 60px);
  background-image: url('./assets/images/cat-white-bg.webp');
  
  background-size: cover;
}

.isActive {
  border-bottom: 2px solid white;
}
.notActive {
  border: none;
}


:root {
  --bs-dark: red;
  --bs-dark-rgb: '111, 111, 111'
}
.shop {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 3rem;
}